name: Upload Python Package

on: 
  workflow_run:
    workflows: ["test-python-project"]
    branches: [master]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install

    - name: Build and publish
      env:
        PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        poetry publish --build --username $PYPI_USERNAME --password $PYPI_PASSWORD

    - name: Build docs
      working-directory: ./goodbase-docs
      run: |
        wget -q https://github.com/gohugoio/hugo/releases/download/v0.92.1/hugo_0.92.1_Linux-64bit.tar.gz
        tar xf hugo_0.92.1_Linux-64bit.tar.gz
        ./hugo

    - name: Publish docs
      run: |
        wget -q https://github.com/dbradf/gh-pages-publish/releases/download/v0.1.1/gh-pages-publish-linux
        chmod +x gh-pages-publish-linux
        ./gh-pages-publish-linux --docs-dir goodbase-docs/public
